@tailwind base;
@tailwind components;
@tailwind utilities;

.background { 
background-image:  url(https://utfs.io/f/628eed63-316a-4432-b213-e92c104d48db_emotikonki.jpg);
background-size: auto;
background-position: left top;
background-repeat: repeat;
}

.scroll{
    overflow-y: scroll;
}

body {
    overscroll-behavior-y: none;
    @apply bg-black text-slate-100
}
