@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background: rgb(124,132,135);
    background: radial-gradient(circle, rgba(124,132,135,0.8911939775910365) 0%, rgba(16,61,79,1) 91%);
}

body {
    @apply bg-black text-slate-100
}
